import { createAction } from '@reduxjs/toolkit';
{{#if hasActions}}
import {
    {{#each actions}}
        {{#with this}}
    {{type}},
        {{/with}}
    {{/each}}
} from '../../helpers/constants';
{{/if}}

{{#if hasActions}}
    {{#each actions}}
        {{#with this}}
export const {{name}} = createAction<any>({{type}});
        {{/with}}
    {{/each}}
{{else}}
export default createAction<any>('*');
{{/if}}

