import React from 'react';

{{#if hasActions}}
    {{#each subComponents}}
import {{pascalCase this}} from './components/{{pascalCase this}}';
    {{/each}}
{{/if}}

interfase {{pascalCase name}} {}

const {{pascalCase name}} = () => (
    <div />
);

export default {{pascalCase name}};