import React from 'react';
import { Story, Meta } from '@storybook/react';

import {{pascalCase name}}, { {{pascalCase name}}Props } from '.';

export default {
  title: 'Components/{{pascalCase name}}',
  component: {{pascalCase name}},
  args: {},
} as Meta;

/**
 * Template for {{pascalCase name}} story
 */
const Template: Story<{{pascalCase name}}Props> = args => <{{pascalCase name}} {...args} />;

/**
 * Stories
 */
export const Default = Template.bind({});
